# Include the README for PyPI
include README.md

# Include root-level config and helper files
include ISS_preprocessing.yaml
include deconwolf_install.txt

# Include any notebooks
recursive-include Notebooks *.ipynb

# Include any YAML, TXT, or CSV files inside the package
recursive-include ISS_preprocessing *.yaml *.txt *.csv
